# Database
DATABASE_URL="postgresql://user:password@localhost:5432/valorant_forum?schema=public"

# Auth
JWT_SECRET="your-secret-key"
NEXTAUTH_SECRET="your-nextauth-secret"
NEXTAUTH_URL="http://localhost:3000"
