@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #15191d;
  --foreground: #e6edf3;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  body {
    @apply bg-background text-foreground;
  }
}
